.container.text-monospace
    | Component:Header

    .row
        aside.col-sm-4
            section.contacts
                header
                    h3 Contacts:
                    p
                        | email&nbsp;
                        a(rel="noreferrer noopener" href="mail@pchapl.dev")
                            | mail@pchapl.dev
