doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Document

body
    div#app

    //script(src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js")
    //script
    //    | var config = {
    //    |   apiKey: "AIzaSyBh1rmGvLwOlCrwffuyOyprSk8KNnZwOA0",
    //    |   authDomain: "pchapl.firebaseapp.com",
    //    |   databaseURL: "https://pchapl.firebaseio.com",
    //    |   projectId: "pchapl",
    //    |   storageBucket: "pchapl.appspot.com",
    //    |   messagingSenderId: "880819585148"
    //    | };
    //    | firebase.initializeApp(config);
